
.bg-decoration {
    top: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    overflow: hidden;
    z-index: -1;
}

.bg-square {
	position: absolute;
	background-image: linear-gradient(to bottom right, #3023ae 60%, #c86dd7);
	width: 75vw;
	height: 75vw;
	border-radius: 25%;
	z-index: -1;
}
.bg-square.white {
    background: #fff;
    width: 250vw;
	border-radius: 45%;
}
.bg-decoration .bg-square.top-left {
	top: 0;
	left: 0;
	transform: translate(-37%, -40%) rotateZ(-15deg);
	/* transform: translate(-55%, -35%) rotateZ(-35deg); */
}
.bg-decoration .bg-square.top-right {
	top: 0;
	right: 0;
	transform: translate(58%, -44%) rotateZ(108deg);
	z-index: -2;
}
.bg-square.middle-left {
	top: 60%;
    left: 0;
    transform: translate(-60%, -47%) rotateZ(-5deg) scaleY(4);
    z-index: -2;
    border-bottom-right-radius: 25%;
}
.bg-square.middle-right {
	top: 30%;
    right: 0;
    transform: translate(55%, 30%) rotateZ(-6deg) scaleY(4);
    border-bottom-left-radius: 50%;
    border-top-right-radius: 0%;
}
.bg-decoration .bg-square.bottom-left {
	bottom: 0;
	left: 0;
	transform: translate(-27%, 15%) rotateZ(-65deg);
	z-index: -3;
}
.bg-decoration .bg-square.bottom-right {
	bottom: 0;
	right: 0;
	transform: translate(55%, 20%) rotateZ(165deg);
	z-index: -3;
}


@media (min-width: 1440px) {
	.bg-decoration .bg-square.middle-left {
		top: 50%;
		left: 0;
		transform: translate(-80%, -50%) rotateZ(-5deg);
		z-index: -2;
		border-bottom-right-radius: 45%;
	}
	.bg-decoration .bg-square.middle-right {
		top: 50%;
		right: 0;
		transform: translate(80%, -70%) rotateZ(-6deg);
		border-bottom-left-radius: 45%;
		border-top-right-radius: 45%;
	}

}
